@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

$font-family: 'Montserrat', sans-serif;

$bg-color: rgb(215, 233, 250);
$primary-color: rgb(35, 113, 185);
// $seconday-color: ;